p{ 
    margin: 0;
}
.b-border{
    border-bottom:1px black solid
}
.l-border{
    border-left:1px black solid ;
}
.full-name{
    font-size: 70px;
}
.skills-section, .awards-section{
    width: max-content;
}
.section-title{
    font-size:38px
}