/* 
.profile-section h4, .experience-section h4 , .details-section h4 ,.skills-section h4, .languages-section h4 , .education-section h4 {
    color: #18beff;
}
.l-border{
    border-left:1px black solid ;
}
.data{
    color: gray;
} */


p{
    margin: 0 !important;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.details-item{
    width:30%;
}
.section-title , .item-title{
    font-weight: bold !important;
}
.date{
    font-size: 12px !important;
    font-style: oblique;
}