.expOne.px-5.l-border
    h4.font-weight-bolder Full stack web developer
    p Alyaman group  | 2020-2021
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ab laboriosam veritatis a debitis quo vitae architecto eum non quod inventore, quisquam consequuntur accusamus atque eveniet modi est nemo optio. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto unde voluptatum ducimus eligendi, eum placeat dolor veritatis odio ad aliquid animi quos, sunt, voluptas incidunt ipsam consequatur in! Tenetur, labore.