.contacts-section.mb-5
    .mb-4
        h4.section-title=translate[lang].contact
    .text-end 
        div
            h6.font-weight Facebook
            p facebook.com/Blaxk
        div  
            h6.font-weight-bold Twitter
            p twiter.com/Blaxk
        div  
            h6.font-weight-bold LinkedIn
            p linkedin.com/Blaxk
        div  
            h6.font-weight-bold Google