extends ../../layout


block content
    each program in programs

        .card.my-2
            .card-body
                .d-flex.justify-content-between
                    img(src="" alt="program image")
                    h4.text-center=program.ProgName
                    .d-flex 
                        a(href="/Cpanel/Mentorship/Programs/"+program._id).btn.btn-primary manage



